* {
    box-sizing: border-box;
}
p {
    font: italic;
}
body {
    background-color: gray;
    background-image: url("../images/bats-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: black;
}
header {
    background-image: url("../images/bats2.png");
    background-position: center center;
    background-size: cover;
    height: 22vh;
    border-bottom: 5px double orange; 
}
#page-title {
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}
#page-title a {
    color: white;
    font-family: 'Creepster', cursive, serif;
    font-size: 80px;
}
#page-title a:hover {
    text-decoration: none;
    color: rgb(167, 166, 166);
}
#page-title h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    color: orange;
}
.carousel {
    margin: 15px auto;
}

#main {
    background: black;
}
#main p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
     font-size: 18px;
     line-height: 1.5em;
     padding: 0px 50px 40px;
     text-align: center;
     padding-top: 40px;
}
#main h2 {
    text-align: center;
    font-family: 'Creepster', cursive, serif;
    font-size: 40px;
    color: orange;
    margin-bottom: 45px;
}
.carousel-item img {
    max-height: 300px;
    min-height: 300px;
}
#search-label {
    padding-bottom: 5px;
    color: orange;
    font-family: 'Open Sans Condensed', sans-serif;
}
.event-div {
    background: white;
    color: black;
    height: 75px;
    padding: 0px 15px;
    line-height: 75px;
    margin: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}
.map-display {
    margin: 40px 0px 40px;
    width: 370px;
    height: 310px;
}
.events-col h3 {
    font-weight: bold;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
}
